/* reset */

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* ELEMENT SELECTORS */

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

body {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

footer {
    padding: 2rem;
}

h1 {
    margin: 0.25rem 0 1.5rem 0;
}

h2 {
    margin: 0.25rem 0 2rem 0;
    color: #fefae0;
    font-size: medium;
}

header,
footer {
    background-color: dodgerblue;
    /* background-image: url(./images/BLKMARKET_COPYSCAN5.jpg);
    background-size: cover; */
    border-bottom: dashed white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: normal;
    text-align: center;

}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: lightcoral;
    flex-grow: 1;
}

nav {
    display: flex;
    margin-top: 4rem;
}

/* p {
    max-width: 66%;
    text-align: center;
} */

section {
    border-bottom: dashed white;
}

/* ANIMATIONS */
/* animation for title font */
@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0..1,0..1&display=swap");

@keyframes anime {

    /* This shows the "shadows" that projext to the down and left of the title font */
    from {
        font-variation-settings: "wght" 800, "slnt" 0;
        text-shadow: -5px 10px 0px #00e6e6, -10px 20px 0px #01cccc,
            -15px 30px 0px #00bdbd;
    }

    /* this shows the static font. */
    to {
        font-variation-settings: "wght" 300, "slnt" 15;
        text-shadow: none;
    }
}

/* animation for navbar */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }

    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}



/* CLASSES */

.center-50 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-66 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}

.center-max-width {
    margin: 0 0 2rem 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1330px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
    margin-bottom: 2rem;
}

.contact-text:hover {
    font-size: 1.2rem;
}

/* contains homework flex items */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* defines flex properties for each item within the flex container */
.flex-item {
    display: flex;
    min-height: 200px;
    max-height: 100%;
    flex-basis: calc(50% - 1em);
    align-items: flex-end;
    padding: 0 0 10px 0;
    margin: 0.5em;
    font-size: 0.9rem;
    text-decoration: none;
    background-repeat: no-repeat;
    justify-content: center;
}

/* makes the first item in the flex container larger than others */
.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;

}

.flex-item:hover {
    /* can change background color or whatever when cursor is over item. */
}

/* determines what part of the svg wrapper is scene before hovering */
.nav-animation-shape {
    fill: transparent;
    stroke-dasharray: 110 540;
    stroke-dashoffset: -309;
    stroke-width: 5px;
    stroke: #19f6e8;
}

/* defines font properties for the navbar */
.nav-bar-text {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
}

.page-section {
    padding-top: 1.5rem;
}

/* scalable vector graphic for navbar */
.svg-wrapper {
    height: 60px;
    margin: 5px auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
}

/* executes the draw animation on navbar when hovering */
.svg-wrapper:hover .nav-animation-shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}

/* header */
.titletext {
    font-family: "Recursive", monospace;
    font-size: clamp(2em, 7.5vmin, 10em);
    text-shadow: 0;
    color: #fefae0;
    animation: anime 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
}

/* main section titles */
.titletextsmall {
    font-family: "Recursive", monospace;
    font-size: clamp(1em, 3.75vmin, 5em);
    text-shadow: 0;
    color: blanchedalmond;
    animation: anime 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
}

/* homework images and sizing */
.work-1 {
    background-image: url("./images/Horiseon.png");
    background-size: contain;
    background-position: center;
    width: 66%;

}


.work-2 {
    background-image: url("https://via.placeholder.com/200");
    background-position: center;
    background-size: auto;
    max-width: 33%;
}

.work-3 {
    background-image: url("https://via.placeholder.com/200");
    background-position: center;
    background-size: auto;
    max-width: 33%;
}

.work-4 {
    background-image: url("https://via.placeholder.com/200");
    background-position: center;
    background-size: auto;
    max-width: 33%;
}

.work-5 {
    background-image: url("https://via.placeholder.com/200");
    background-position: center;
    background-size: auto;
    max-width: 33%;
}

.work-text {
    background-color: dodgerblue;
    padding: 5px;
    margin: 5px;
    position: relative;
    bottom: 25%;
}

@media screen and (max-width: 1000px) {
    .titletext {
        font-family: "Recursive", monospace;
        font-size: clamp(2em, 7.5vmin, 10em);
        text-shadow: 0;
        color: #fefae0;
        animation: anime 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
    }

    nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: small;
    }
}