/* wire frame: TODO: delete later */
header,
main,
footer {
    border: 1px solid navy
}


/* reset */
html,
body {
    margin: 0;
    padding: 0;
}


/* element selectors */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

/* For Desktop */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1554755229-ca4470e07232?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);

}

header,
main,
footer {
    padding: 1.5rem;
}

main {
    flex-grow: 1;
    background-image: url(https://images.unsplash.com/photo-1650513248896-ae66deea01d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);
}

/* classes */
.pt {
    padding-top: 1.5rem;
}